@using TicketJam.Website.APIClient.DTO
@model TicketJam.Website.APIClient.DTO.Event

@{
    ViewData["Title"] = "Event Details";
}

<h1>Ticket Details</h1>
<hr />

<!-- Event Information -->
<div class="row">
    <div class="col-md-6">
        <h4>Event Information</h4>
        <dl class="row">
            <dt class="col-sm-4">Event Total Amount</dt>
            <dd class="col-sm-8">@Model.TotalAmount.ToString()</dd>

            <dt class="col-sm-4">Sale starts:</dt>
            <dd class="col-sm-8">@Model.StartDate.ToString("d")</dd>

            <dt class="col-sm-4">Sale ends:</dt>
            <dd class="col-sm-8">@Model.EndDate.ToString("d")</dd>

            <dt class="col-sm-4">Name</dt>
            <dd class="col-sm-8">@Model.Name</dd>


        </dl>
    </div>
</div>

<hr />

<!-- Tickets Information -->
<div class="row">
    <div class="col-md-12">
        @{
            var ticketList = Model.TicketList;
            if (ticketList != null && ticketList.Any())
            {
                foreach (var ticket in ticketList)
                {
                    <div class="ticket-section">
                        <h5>Venue Information</h5>
                        <dl class="row">
                            <dt class="col-sm-4">Venue Name</dt>
                            <dd class="col-sm-8">@ticket?.Section?.Venue.Name</dd>
                        </dl>

                        <h5>Ticket Information</h5>
                        <dl class="row">
                            <dt class="col-sm-4">Ticket Category</dt>
                            <dd class="col-sm-8">@ticket?.TicketCategory</dd>

                            <dt class="col-sm-4">Price</dt>
                            <dd class="col-sm-8">@ticket?.Price.ToString("C")</dd>
                        </dl>
                        


                        <h5>Section Information</h5>
                        <dl class="row">
                            <dt class="col-sm-4">Section Description</dt>
                            <dd class="col-sm-8">@ticket?.Section?.Description</dd>

                            <dt class="col-sm-4">Ticket Amount</dt>
                            <dd class="col-sm-8">@ticket?.Section?.TicketAmount.ToString()</dd>
                        </dl> 
                        <hr />

                        <td>
                            <a class="btn-sm btn-custom" href="@Url.Action("Add", "Cart", new { id = ticket.Id, quantity = 1 })">Add to basket<span class="bi-cart-plus"></span></a>
                        </td>

                        <hr />

                    </div>
                }
            }
            else
            {
                <p>No tickets available.</p>
            }
        }
    </div>
</div>

<hr />

<!-- Back Button -->
<div class="form-group">
    <a class="btn btn-secondary" href="@Url.Action("Index", "Ticket")">Back to List</a>
</div>
<style>
    .btn-custom {
        background-color: #e74c3c;
        color: #fff;
        border: none;
        text-decoration: none;
        font-weight: bold;
    }

        .btn-custom:hover {
            background-color: #b93d31;
            color: #fff;
            text-decoration: none;
            font-weight: bold;
        }

        .btn-custom span {
            margin-left: 10px;
        }
</style>