@model TicketJam.Website.APIClient.DTO.Event

@{
    ViewData["Title"] = "Event Details";
}

<h1>Ticket Details</h1>
<hr />

<!-- Event Information -->
<div class="row">
    <div class="col-md-6">
        <h4>Event Information</h4>
        <dl class="row">
            <dt class="col-sm-4">Event Total Amount</dt>
            <dd class="col-sm-8">@Model.totalAmount.ToString()</dd>

            <dt class="col-sm-4">Start Date</dt>
            <dd class="col-sm-8">@Model.startDate.ToString("d")</dd>

            <dt class="col-sm-4">End Date</dt>
            <dd class="col-sm-8">@Model.endDate.ToString("d")</dd>

            <dt class="col-sm-4">Name</dt>
            <dd class="col-sm-8">@Model.name</dd>
        </dl>
    </div>
</div>

<hr />

<!-- Tickets Information -->
<div class="row">
    <div class="col-md-12">
        @{
            var ticketList = Model.ticketList;
            if (ticketList != null && ticketList.Any())
            {
                foreach (var ticket in ticketList)
                {
                    <div class="ticket-section">
                        <h5>Venue Information</h5>
                        <dl class="row">
                            <dt class="col-sm-4">Venue Name</dt>
                            <dd class="col-sm-8">@ticket?.section?.venue.name</dd>
                        </dl>

                        <h5>Ticket Information</h5>
                        <dl class="row">
                            <dt class="col-sm-4">Ticket Category</dt>
                            <dd class="col-sm-8">@ticket?.ticketCategory</dd>

                            <dt class="col-sm-4">Price</dt>
                            <dd class="col-sm-8">@ticket?.price.ToString("C")</dd>
                        </dl>

                        <h5>Section Information</h5>
                        <dl class="row">
                            @Html.DropDownList("Section",
                                 new SelectList(ticket.Event.Venue.sections, "Description"),
                                 "Select Section",
                                 new { @class = "form-control" })

                            <dt class="col-sm-4">Ticket Amount</dt>
                            <dd class="col-sm-8">@ticket?.section?.ticketAmount.ToString()</dd>
                        </dl>

                        <h5>Address Information</h5>
                        <dl class="row">
                            <dt class="col-sm-4">Street Name</dt>
                            <dd class="col-sm-8">@ticket?.section?.venue.address.streetName</dd>

                            <dt class="col-sm-4">House Number</dt>
                            <dd class="col-sm-8">@ticket?.section?.venue.address.houseNo</dd>

                            <dt class="col-sm-4">City</dt>
                            <dd class="col-sm-8">@ticket?.section?.venue.address.city</dd>

                            <dt class="col-sm-4">Zip Code</dt>
                            <dd class="col-sm-8">@ticket?.section?.venue.address.zip</dd>
                        </dl>
                        <td>
                            <a class="btn-sm btn-primary" href="@Url.Action("Add", "Cart", new { id = ticket.id, quantity = 1 })">Add to basket<span class="bi-cart-plus" style="margin-left:10px;"></span></a>
                        </td>
                    </div>
                }
            }
            else
            {
                <p>No tickets available.</p>
            }
        }
    </div>
</div>

<hr />

<!-- Back Button -->
<div class="form-group">
    <a class="btn btn-secondary" href="@Url.Action("Index", "Ticket")">Back to List</a>
</div>