@using TicketJam.Website.APIClient.DTO
@model TicketJam.Website.APIClient.DTO.Order;
@{
    ViewData["Title"] = "Cart";
}

<div class="text-center" style="width:800px; margin:0px auto;">
    <h1 class="display-4">Cart</h1>
    @if (Model == null || Model.OrderLines.Count == 0)
    {
        <div class="row">
            <div class="col-12 text-center">
                <h3>Cart is empty</h3>
            </div>
        </div>
    }
    else
    {
        var tickets = ViewBag.TicketDetails as List<Ticket>;
        @foreach (var orderLine in Model.OrderLines)
        {
            var ticket = tickets?.FirstOrDefault(t => t.Id == orderLine.TicketId);
            if (ticket != null)
            {
                <div class="row" style="padding-top:2px;">
                    <div class="col-6">
                        @orderLine.Quantity x @ticket.Description (Category: @ticket.TicketCategory) at $@ticket.Price each
                    </div>
                    <div class="col-3">
                        total $@(orderLine.Quantity * ticket.Price)
                    </div>
                    <div class="col-3">
                        <a class="btn btn-primary" href="@Url.Action("Add", "Cart", new { id = orderLine.TicketId, quantity = -1 })" title="remove one">-1</a>
                        <a class="btn btn-primary" href="@Url.Action("Add", "Cart", new { id = orderLine.TicketId, quantity = 1 })" title="add one">+1</a>
                        <a class="btn btn-danger" href="@Url.Action("Delete", "Cart", new { id = orderLine.TicketId })" title="delete product"><span class="bi-trash"></span>Delete</a>
                    </div>
                </div>
            }
            else
            {
                <div class="row">
                    <div class="col-12">
                        <p>Details not available for ticket ID: @orderLine.TicketId</p>
                    </div>
                </div>
            }
        }
    }
    <p></p>
    <a class="btn btn-danger" href="@Url.Action("EmptyCart", "Cart")">Empty entire cart <span class="bi bi-trash"></span></a>
    <a class="btn btn-success" href="@Url.Action("Create", "Order")">Checkout</a>
</div>

