@using TicketJam.Website.APIClient.DTO
@model IEnumerable<TicketJam.Website.APIClient.DTO.Order>

@{
    ViewData["Title"] = "Your Purchases";
}

<h1>Your Purchases</h1>

@if (Model != null && Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Order No</th>
                <th>Ticket</th>
                <th>Quantity</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model)
            {
                <tr>
                    <td>@order.OrderNo</td>
                    <td>
                        <table>
                            @foreach (var orderLine in order.OrderLines)
                            {
                                <tr>
                                    <td>@orderLine.TicketId</td>
                                </tr>
                            
                            }
                        </table>
                    </td>
                    <td>
                        <table>
                            @foreach (var orderLine in order.OrderLines)
                            {
                                var tickets = ViewBag.TicketDetails as List<Ticket>;
                             
                                    var ticket = tickets?.FirstOrDefault(t => t.Id == orderLine.TicketId);
                                    if (ticket != null)
                                    {
                                        <div class="row" style="padding-top:2px;">
                                            <div class="col-6">
                                                @orderLine.Quantity x @ticket.Description (Category: @ticket.TicketCategory) at $@ticket.Price each
                                            </div>
                                            <div class="col-3">
                                                total $@(orderLine.Quantity * ticket.Price)
                                            </div>
                                            <div class="col-3">
                                            </div>
                                        </div>
                                    }
                                

                            }


                        </table>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No purchases found.</p>
}
